@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.header {
  background-color: #e51b22;
  color: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 125px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: padding 0.3s ease-in-out;
}

.header__logo_container {
  display: flex;
  flex-flow: row;
  align-items: center;
  max-width: 278px;
  gap: 18px;
  color: #fff;
  text-decoration: none;
}

.header__logo {
  width: 80px;
  height: 80px;
}

.header__logo_text {
  font-family: 'Cera Pro', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: #fff !important; /* Добавляем !important для гарантии */
  text-decoration: none !important; /* Добавляем !important для гарантии */
}

.header__cta-button {
  max-width: 200px;
  height: 40px;
  background-color: #c8e51f;
  color: #000;
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.63px;
  letter-spacing: 0;
  text-align: center;
  display: none;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0 18px;
}

@supports (animation: fadeOut 0s ease-in-out) {
  .header:has(.header__container.scrolled) .header__logo_text {
    animation: fadeOut 0s forwards;
  }
}

@supports (animation: fadeIn 1s ease-in-out) {
  .header:has(.header__container.scrolled) .header__cta-button {
    animation: fadeIn 1s forwards;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
}

/* Анимация скрытия */
@keyframes fadeOut {
  from {
    opacity: 1;
    display: block;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    display: none;
    transform: translateY(-10px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    display: flex;
    transform: translateY(0);
  }
}

.header__menu_container {
  margin: 0;
  padding: 0;
}

.header__menu {
  display: flex;
  flex-flow: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.header__menu a {
  color: #fff;
  font-family: 'Cera Pro', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  text-align: left;
  text-decoration: none;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.header__menu a:hover {
  color: #a00d18;
}

.header__lang {
  position: relative;
}

.header__langButton {
  font-family: 'Cera Pro', sans-serif;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.63px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.header__lang:hover .header__langButton {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #a00d18;
  color: #a00d18;
}

.header__langMenu {
  position: absolute;
  top: 80%;
  left: 0;
  width: 40px;
  background: #e51b22;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid #a00d18;
  border-top: none;
  margin-top: -2px; /* компенсируем border кнопки */
  overflow: hidden;
  display: none;
  padding-bottom: 8px;
}

.header__lang:hover .header__langMenu {
  display: block;
}

.header__langOption {
  font-family: 'Cera Pro', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.header__langOption:hover {
  color: rgba(255, 255, 255, 0.35);
}

main {
  background-color: #f2f2f7;
}
 
.section__header {
  background-color: #e51b22;
  color: #fff;
  width: 100%;
  position: relative;
  min-height: 200px;
  width: 100%;
  max-width: 1192px;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 70px 27px 0;
  box-sizing: border-box;
}

.section__header h2 {
  font-family: Jomhuria;
  font-size: 250px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  bottom: -118px;
  left: -6px;
}

.section__header_social-icon {
  width: 56px;
  height: 56px;
}

.section__header_social-icon:hover {
  filter: brightness(0) saturate(100%) invert(12%) sepia(82%) saturate(4400%) hue-rotate(351deg) brightness(91%) contrast(96%);
}

.section__image {
  max-width: 1440px;
  margin: 0 auto;
}

.backgroundVideo {
  width: 100%;
  max-width: 1440px;
  max-height: 780px;
  object-fit: fill;
}

.section__image img {
  display: block;
}

.section__about {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 90px 124px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.section__about_header {
  font-family: 'Cera Pro', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60.34px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  max-width: 605px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

.section__about_block {
  display: flex;
  flex-flow: row;
  justify-content: space-aroung;
}

.section__about_textBlock {
  display: flex;
  flex-flow: column;
  width: 50%;
  padding: 0 20px 0 0;
}

.section__about_textBlock:nth-child(2n) {
  padding: 0 0 0 20px;
}

.section__about_textBlock h3 {
  font-family: Cera Pro;
  font-size: 32px;
  font-weight: 700;
  line-height: 40.22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #e51b22;
  margin: 0;
  max-width: 370px;
  text-transform: uppercase;
}

.section__about_text {
  font-family: Cera Pro;
  font-size: 21px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  max-width: 70%;
}

.section__about_number {
  font-family: Cera Pro;
  font-size: 64px;
  font-weight: 700;
  line-height: 80.45px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #e51b22;
  margin: 0;
}

.section__instagram {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 120px 0;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.section__instagram_container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
}

.section__instagram_block {
  max-width: 1192px;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 100px 0 0 0;
  z-index: 1;
}

.section__instagram_more-button {
  width: 56px;
  height: 56px;
  background-color: #c8e51f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 4;
  position: absolute;
  top: 70%;
  right: 68px;
  transform: translateY(-50%);
}

.section__instagram_more-button:hover {
  color: #fff;
}

.section__instagram::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 130px;
  background-image: url("../images/pattern_waves.svg");
  background-size: initial;
  background-repeat:repeat-x;
  opacity: 1;
  z-index: 0;
}

/* 🔹 Gradient fade-out effect */
.section__instagram_container::after {
  content: "";
  position: absolute;
  top: 300px;
  right: 0;
  width: 100px; /* Adjust width for smoother fade */
  height: 364px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  pointer-events: none; /* Allows interactions with images */
  z-index: 2;
}

/* 🔹 Apply effect only on large screens */
@media (max-width: 1190px) {
  .section__instagram_container::after {
    display: none; /* Hide gradient on smaller screens */
  }
}

.section__instagram_image {
  width: 290px;
  height: 364px;
}

.section__form {
  max-width: 1440px;
  margin: 0 auto;
  padding: 53px 124px;
  box-sizing: border-box;
}

.section__form_form {
  display: flex;
  flex-flow: row;
  gap: 20px;
}

.section__form_column {
  display: flex;
  flex-flow: column;
  max-width: 586px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 37px;
}

.section__form_input {
  width: 100%;
  height: 90px;
  max-width: 586px;
  padding: 20px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
  color: #000;
  margin: 0;
  box-sizing: border-box;
}

.section__form_textarea {
  height: 217px;
  resize: none;
}

.section__form_button {
  width: 100%;
  height: 90px;
  max-width: 606px;
  background-color: #c8e51f;
  color: #000;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  font-family: Cera Pro;
  font-size: 36px;
  font-weight: 700;
  line-height: 45.25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 56px;
  gap: 30px;
  cursor: pointer;
}

.section__form_button:hover {
  color: #e51b22;
}

.section__news {
  width: 100%;
  margin: 0 auto;
  padding: 0 124px 120px;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section__news_container {
  width: 100%;
  max-width: 1192px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 100px 0;
}

.section__news_article {
  width: 100%;
  height: 560px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f2f2f7;
  cursor: pointer;
}

.section__news_article:nth-child(odd) {
  margin-right: 20px;
}

.section__news_article:nth-child(1),
.section__news_article:nth-child(2) {
  margin-bottom: 20px;
}
 
.section__news_article:nth-child(1),
.section__news_article:nth-child(4) {
  max-width: 384px;
}

.section__news_article:nth-child(1) .section__news_news-text,
.section__news_article:nth-child(4) .section__news_news-text {
  display: none;
}

.section__news_article:nth-child(2),
.section__news_article:nth-child(3) {
  max-width: 788px;
}

.section__news_news-header {
  font-family: Cera Pro;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.17px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  margin: 0 0 14px 0;
}

.section__news_text-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 30px;
  box-sizing: border-box;
}

.section__news_news-text {
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.11px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: none;
  max-width: 565px;
  margin: 0 auto 0 0;
  position: relative;
  max-height: 80px;
  overflow: hidden;
}

.section__news_news-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; 
  background: linear-gradient(to bottom, rgba(242, 242, 247, 0) 0%, #f2f2f7 100%);
  pointer-events: none;
}

.section__news_news-date {
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.11px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: none;
  margin: 0;
  align-self: flex-end;
  justify-self: flex-end;
}

.section__news_lead {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.section__news_button {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 384px;
  height: 90px;
  background-color: #e51b22;
  color: #fff;
  border: none;
  font-family: Cera Pro;
  font-size: 36px;
  font-weight: 700;
  line-height: 45.25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
  text-transform: uppercase;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 60px;
  gap: 30px;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
}

.section__news_button:hover {
  color: #a00d18;
}

.section__news_button:hover img {
  filter: brightness(0) saturate(100%) invert(12%) sepia(82%) saturate(4400%) hue-rotate(351deg) brightness(91%) contrast(96%);
}

.footer {
  background-color: #a00d18;
  color: #fff;
  width: 100%;
}

.footer__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 65px 132px 54px 125px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.footer__logo {
  width: 80px;
  height: 80px;
  background-color: #e51b22;
  border-radius: 50%;
}

.footer__menu {
  display: flex;
  flex-flow: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.footer__menu_container {
  margin: 32px 0 0 0;
  padding: 0;
  box-sizing: border-box;
}

.footer__menu a {
  color: #fff;
  font-family: 'Cera Pro', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  text-align: left;
  text-decoration: none;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.footer__menu a:hover {
  color: rgba(255, 255, 255, 0.35)
}

.footer__submenu {
  display: flex;
  flex-flow: column;
  list-style: none;
  margin: 8px 0 0 0;
  padding: 0;
  gap: 6px;
}

.footer__submenu a {
  color: #fff;
  font-family: Cera Pro;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  text-decoration-skip-ink: none;
  text-transform: none;
}

.footer__copyright {
  font-family: Cera Pro;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 40px 0 0 0;
  padding: 0;
}

.footer__contacts {
  display: flex;
  flex-flow: column;
  justify-items: flex-start;
  align-items: flex-end;
  gap: 20px;
}

.footer__phone {
  font-family: Cera Pro;
  font-size: 48px;
  font-weight: 700;
  line-height: 60.34px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  cursor: pointer;
}

.footer__phone:hover {
  color: rgba(255, 255, 255, 0.35);
}

.footer__mail {
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.footer__mail:hover {
  color: rgba(255, 255, 255, 0.35);
}

.footer__social {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  margin: 35px 0 0 0;
}

.footer__social-icon {
  width: 40px;
  height: 40px;
}

.footer__social-icon:hover {
  filter: opacity(0.35);
}

