@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(./components/header.css);

@import url(./components/section__image.css);

@import url(./components/footer.css);

main {
  background-color: #f2f2f7;
}
 
.section__header {
  background-color: #e51b22;
  color: #fff;
  width: 100%;
  position: relative;
  min-height: 200px;
  width: 100%;
  max-width: 1192px;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 70px 27px 0;
  box-sizing: border-box;
}

.section__header h2 {
  font-family: Jomhuria;
  font-size: 250px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  bottom: -118px;
  left: -6px;
}

.section__header_social-icon {
  width: 56px;
  height: 56px;
}

.section__text {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.section__text_container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  padding: 120px 169px;
  box-sizing: border-box;
  gap: 50px;
}

.section__text_image-background {
  background-image: url(../images/pattern_waves-3-rows.svg);
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 65px;
  background-repeat: no-repeat;
}

.section__text p {
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 32px;
  line-height: 40.22px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
}

.section__coaches {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 124px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.section__coaches_header {
  font-family: 'Cera Pro', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60.34px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  max-width: 605px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

.section__coaches_cards {
  display: flex;
  flex-flow: row;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.section__coaches_card {
  width: 384px;
  height: 800px;
  background-color: #fff;
}

.section__coach_card-textBlock {
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
}

.section__coach_card-name {
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.17px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0;
}

.section__coach_card-role {
  font-family: Cera Pro;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.6px;
  letter-spacing: 0%;
  color: rgba(160, 13, 24, 1);
  text-transform: uppercase;
  margin: 0;
}

.section__coach_card-license {
  font-family: Cera Pro;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.6px;
  letter-spacing: 0%;
  color: rgba(160, 13, 24, 1);
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  margin: 0 0 20px 0;
  padding: 0 0 14px 0;
}

.section__coach_card-text {
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.11px;
  letter-spacing: 0%;
}

.section__form {
  max-width: 1440px;
  margin: 0 auto;
  padding: 53px 124px;
  box-sizing: border-box;
  border-top: 3px solid #fff;
}

.section__form_form {
  display: flex;
  flex-flow: row;
  gap: 20px;
}

.section__form_column {
  display: flex;
  flex-flow: column;
  max-width: 586px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 37px;
}

.section__form_input {
  width: 100%;
  height: 90px;
  max-width: 586px;
  padding: 20px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
  color: #000;
  margin: 0;
  box-sizing: border-box;
}

.section__form_textarea {
  height: 217px;
  resize: none;
}

.section__form_button {
  width: 100%;
  height: 90px;
  max-width: 606px;
  background-color: #c8e51f;
  color: #000;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  font-family: Cera Pro;
  font-size: 36px;
  font-weight: 700;
  line-height: 45.25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 56px;
  gap: 30px;
  cursor: pointer;
}

.section__form_button:hover {
  color: #e51b22;
}