.header {
  background-color: #e51b22;
  color: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 125px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: padding 0.3s ease-in-out;
}

.header__container a {
  text-decoration: none;
}

.header__logo_container {
  display: flex;
  flex-flow: row;
  align-items: center;
  max-width: 278px;
  gap: 18px;
  color: #fff;
  text-decoration: none;
}

.header__logo {
  width: 80px;
  height: 80px;
}

.header__logo_text {
  font-family: 'Cera Pro', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: #fff !important; /* Добавляем !important для гарантии */
  text-decoration: none !important; /* Добавляем !important для гарантии */
}

.header__cta-button {
  max-width: 200px;
  height: 40px;
  background-color: #c8e51f;
  color: #000;
  font-family: Cera Pro;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.63px;
  letter-spacing: 0;
  text-align: center;
  display: none;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0 18px;
}

.header__cta-button:hover {
  color: rgba(229, 27, 34, 1);
}

@supports (animation: fadeOut 0s ease-in-out) {
  .header:has(.header__container.scrolled) .header__logo_text {
    animation: fadeOut 0s forwards;
  }
}

@supports (animation: fadeIn 1s ease-in-out) {
  .header:has(.header__container.scrolled) .header__cta-button {
    animation: fadeIn 1s forwards;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
}

/* Анимация скрытия */
@keyframes fadeOut {
  from {
    opacity: 1;
    display: block;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    display: none;
    transform: translateY(-10px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    display: flex;
    transform: translateY(0);
  }
}

.header__menu_container {
  margin: 0;
  padding: 0;
}

.header__menu {
  display: flex;
  flex-flow: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.header__menu a {
  color: #fff;
  font-family: 'Cera Pro', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  text-align: left;
  text-decoration: none;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.header__menu a:hover {
  color: #a00d18;
}

.header__lang {
  position: relative;
}

.header__langButton {
  font-family: 'Cera Pro', sans-serif;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.63px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.header__lang:hover .header__langButton {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #a00d18;
  color: #a00d18;
}

.header__langMenu {
  position: absolute;
  top: 80%;
  left: 0;
  width: 40px;
  background: #e51b22;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid #a00d18;
  border-top: none;
  margin-top: -2px; /* компенсируем border кнопки */
  overflow: hidden;
  display: none;
  padding-bottom: 8px;
}

.header__lang:hover .header__langMenu {
  display: block;
}

.header__langOption {
  font-family: 'Cera Pro', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.header__langOption:hover {
  color: rgba(255, 255, 255, 0.35);
}

.header__menu_button {
  display: none;
}

@media screen and (max-width: 1439px) {

  .header__container {
    padding: 15px 20px;
  }

  .header__menu_container {
    display: none;
  }

  .header__logo {
    width: 50px;
    height: 50px;
  }
  
  .header__lang {
    display: none;
  }
  
  .header__menu_button {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 20px;
    gap: 4px;
    cursor: pointer;
  }

  .header__menu_line {
    width: 20px;
    height: 3px;
    background-color: #fff;
  }
}